{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <title></title>
  </head>
  <body class="bg-indigo-100">
      <!-- Container -->
      <div class="container mx-auto">
        <div class="flex justify-center items-center h-screen px-6">
            <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
              <div class="px-8 mb-4 text-center">
                <h3 class="pt-4 mb-2 text-2xl font-bold">Password reset complete</h3>
                <p>Your password has been set. You may go ahead and log in now.</p><br>
                <div class="mb-6 text-center">
  								<button
  									class="w-full px-4 py-2 font-bold text-white bg-indigo-500 rounded-full hover:bg-indigo-700 focus:outline-none focus:shadow-outline">
  									<a href="/">Log in</a>
  								</button>
  							</div>
              </div>
            </div>
        </div>
      </div>
    </body>

</html>
